@page
@using Microsoft.Extensions.Localization
@model RegisterModel

@inject IStringLocalizer<SharedResources> Localizer;

@{
    ViewData["Title"] = Localizer["Register"];
}

<div class="row">
	<div class="col s12 m6 l4 offset-m3 offset-l4">

		<div class="card card-margin-top">
			<div class="card-content">

				<span class="card-title @ViewBag.cardTextColor card-title-weight-600">@Localizer["Create Account"]</span>

				<form asp-route-returnUrl="@Model.ReturnUrl" method="post">

					<div asp-validation-summary="All" class="red-text text-darken-1">
					</div>

					<div class="input-field">
						<i class="material-icons prefix">email</i>
						<label asp-for="Input.Email"></label>
						<input asp-for="Input.Email" />
						<span asp-validation-for="Input.Email" class="red-text text-darken-1"></span>
					</div>

					<div class="input-field">
						<i class="material-icons prefix">person</i>
						<label asp-for="Input.UserName"></label>
						<input asp-for="Input.UserName" />
						<span asp-validation-for="Input.UserName" class="red-text text-darken-1"></span>
					</div>

					<div class="input-field">
						<i class="material-icons prefix">lock</i>
						<label asp-for="Input.Password"></label>
						<input asp-for="Input.Password" />
						<span asp-validation-for="Input.Password" class="red-text text-darken-1"></span>
					</div>

					<div class="input-field">
						<i class="material-icons prefix">lock</i>
						<label asp-for="Input.ConfirmPassword"></label>
						<input asp-for="Input.ConfirmPassword" />
						<span asp-validation-for="Input.ConfirmPassword" class="red-text text-darken-1"></span>
					</div>

					<button type="submit" class="btn waves-effect waves-light @ViewBag.mainColor" style="width: 100%;">
						@Localizer["Register"]
					</button>
					<div class="postition-center btn-margin-top-10">
						<p class="font-size-12">
							@Localizer["Already registered?"]  <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Click here to login"]</a>
						</p>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
