@page
@using Microsoft.Extensions.Localization
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}
<div class="row">
	<div class="col s12 m8 l8 offset-m2 offset-l2">
		<div class="card @ViewBag.cardColor">
			<div class="card-content @ViewBag.cardTextColor">
				<span class="card-title">@Localizer["Reset password confirmation"]</span>
				<span class="black-text">@Localizer["Your password has been reset."]</span>
				<div class="card-internal-action card-action-overflow">
					<a asp-page="./Login" class="btn waves-effect waves-light @ViewBag.mainColor" style="width: 100%;">
						@Localizer["Click here to log in"]
					</a>
				</div>
			</div>
		</div>

	</div>
</div>

