@page
@using Microsoft.Extensions.Localization
@model ExternalLoginsModel
@inject IStringLocalizer<SharedResources> Localizer
@{
	ViewData["Title"] = Localizer["Registered Logins"];
	ViewBag.Title = ViewData["Title"];
}

@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@

<div class="card @ViewBag.cardColor">
	<div class="card-content @ViewBag.cardTextColor">
		<span class="card-title card-title-weight-400">@Localizer["External Login"]</span>


		@if (Model.OtherLogins?.Count > 0)
		{
			<form asp-page-handler="LinkLogin" method="post" class="form-horizontal">
				@if (Model.GoogleLogin != null)
				{
					<button type="submit" class="btn btn-default waves-effect waves-light btn-google-plus" name="provider" value="@Model.GoogleLogin.Name" title="@Localizer["Log in using your {0} account", Model.GoogleLogin.DisplayName]">
						<img src="~/images/google-plus-icon.svg" class="logo-button"/>
						@*<span class="logo-title">@Model.GoogleLogin.DisplayName</span>*@
					</button>
				}
			</form>
		}
	</div>
</div>
<div class="row">
	@if (Model.CurrentLogins?.Count > 0)
	{
		foreach (var login in Model.CurrentLogins)
		{
			
			<form id="remove-login-@login.ProviderKey" asp-page-handler="RemoveLogin" method="post">
				<input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden"/>
				<input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden"/>
				<div class="card @ViewBag.cardColor col s12 m6 l4">
					<div class="card-content @ViewBag.cardTextColor">
						<div class="card-title votor-card-title">@login.ProviderDisplayName</div>
						@if (Model.ShowRemoveButton)
						{
							<a href="#" onclick="$('#remove-login-@login.ProviderKey').submit();" class="deep-orange-text votor-card-action" title="@Localizer["Remove this {0} login from your account", @login.LoginProvider]">
								<i class="material-icons left">delete</i>
							</a>
						}
					</div>
				</div>
			</form>
			
		}
	}
</div>