@page
@using Microsoft.Extensions.Localization
@model PersonalDataModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Personal data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="card">
    <div class="card-content">
        <span class="card-title">@ViewData["Title"]</span>
        <p>
            @Localizer["Your account contains personal data that you have given us. This page allows you to download or delete that data."]
        </p>
        
        <br />

        <p>
            <strong>@Localizer["Deleting your account removes all data stored on our servers. Your account cannot be recovered!"]</strong>
        </p>
        
        <br />

        <div class="row">
            <div class="col s12">
                <form asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button class="btn waves-effect waves-light purple darken-2" type="submit" style="width: 100%;">
                        @Localizer["Download data"]
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a asp-page="DeletePersonalData" class="btn waves-effect waves-light red darken-1" style="width: 100%;">
                    @Localizer["Delete account"]
                </a>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}