@page
@using Microsoft.Extensions.Localization
@model PersonalDataModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Personal data"];
    ViewBag.Title = ViewData["Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="card @ViewBag.cardColor">
    <div class="card-content @ViewBag.cardTextColor">
        <span class="card-title">@Localizer["Personal data"]</span>
        <p class="black-text">
            @Localizer["Your account contains personal data that you have given us. This page allows you to download or delete that data."]
        </p>

        <br />

        <p class="black-text">
            <strong>@Localizer["Deleting your account removes all data stored on our servers. Your account cannot be recovered!"]</strong>
        </p>

        <br/>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

            <div class="card-internal-action card-action-overflow">
                <form asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button class="btn waves-effect waves-light @ViewBag.mainColor" type="submit" style="width: 100%;">
                        @Localizer["Download data"]
                    </button>
                </form>
                <br/>
                <a asp-page="DeletePersonalData" class="btn waves-effect waves-light red darken-1" style="width: 100%;">
                    @Localizer["Delete account"]
                </a>
            </div>
    </div>
</div>
