@using Microsoft.Extensions.Localization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#7b1fa2">
    <link rel="icon" sizes="192x192" href="~/images/votor_logo_192.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <title>@Localizer["Dashboard"] - @ViewBag.Title</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/css/materialize.min.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="~/css/base.css" />
		<link rel="stylesheet" href="~/css/portal.css" />

	</environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/materialize.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/portal.css" />
    </environment>

    <script src="~/js/echarts.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        window.votorCharts = [];

        window.addEventListener("resize",
            function () {
                for (var i = window.votorCharts.length; i-- > 0;) {
                    votorCharts[i].resize();
                }
            });
    </script>

</head>
<body>
    <header>
        <nav class="@ViewBag.mainColor">
            <a href="#" data-target="votor-sidenav" class="sidenav-trigger hide-on-large-only">
                <i style="font-size: 32px;" class="material-icons">menu</i>
            </a>
            <a href="#" class="brand-logo brand-margin">@ViewBag.Title</a>
        </nav>
        <partial name="_SideNavPartial" />
    </header>
    <main>
        @*<div class="row">
            <div class="s12">*@
                @RenderBody()
            @*</div>
        </div>*@
    </main>

    <partial name="_PortalFooter"/>
    
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/materialize.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
<partial name="_CookieConsentPartial" />

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded",
        function () {
            $(".modal").modal();
            $("select").formSelect();
            $(".tabs").tabs();

            var section = "@ViewBag.Section";

            if (section) {
                $(".tabs").tabs("select", section);
            }
        });
</script>
</body>
</html>
