@* style the sidenav just like in /Identity/Account/Manage*@

<ul class="sidenav sidenav-fixed" id="votor-sidenav">
    <li>
        <a asp-area="Portal" asp-controller="Dashboard" asp-action="Index">
            <i class="material-icons">dashboard</i> @Localizer["Dashboard"]
        </a>
    </li>

    <li>
        <a asp-area="Portal" asp-controller="Dashboard" asp-action="Events">
            <i class="material-icons">event</i> @Localizer["Events"]
        </a>
    </li>

    <li>
        <a asp-area="Portal" asp-controller="Dashboard" asp-action="Active">
            <i class="material-icons">event_note</i> @Localizer["Active Events"]
        </a>
    </li>

    <li>
        <a asp-area="Portal" asp-controller="Dashboard" asp-action="Finished">
            <i class="material-icons">event_available</i> @Localizer["Finished Events"]
        </a>
    </li>

    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="material-icons">person</i> @Localizer["Account"]
        </a>
    </li>

    <li>
        @{await Html.RenderPartialAsync("_LogoutPartial");}
    </li>

</ul>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded",
        function() {
            $('.sidenav').sidenav();
        });
</script>