@model Votor.Areas.Portal.Controllers.QuestionModel

<h4>@Localizer["Questions"]</h4>

@using (Html.BeginForm("AddQuestion", "Event", FormMethod.Post))
{
    <div class="input-field">
        <i class="material-icons prefix">question_answer</i>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EventId)

        @Html.LabelFor(model => model.Text)
        @Html.TextBoxFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text, "", new
        {
            @class = "red-text text-darken-1"
        })
    </div>

    <button type="submit" class="btn waves-effect waves-light purple darken-2">@Localizer["Add"]</button>
}