@using Votor.Areas.Portal.Controllers
@model EditEventModel

<div class="col s12 m6 l4">
    <div class="card @ViewBag.cardColor">
        <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
            <span class="card-title">
                @Localizer["New Choice"]
            </span>
            @{
                await Html.RenderPartialAsync("_AddOptionPartial", new OptionModel
                {
                    EventId = Model.EventModel.EventId,
                    Option = string.Empty
                });
            }
        </div>
    </div>
</div>

@foreach (var option in Model.Options)
{
    <div class="col s12 m6 l4">
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                <div class="card-title votor-card-title">
                    @option.Option
                </div>
                <a asp-controller="Event" asp-action="RemoveOption" asp-route-optionId="@option.Id" asp-route-eventId="@option.EventId"
                   class="deep-orange-text votor-card-action">
                    <i class="material-icons left">delete</i>
                </a>
            </div>
        </div>
    </div>
}


