@using Votor.Areas.Portal.Controllers
@model EditEventModel


<div class="card @ViewBag.cardColor">
    <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
        <span class="card-title">@Localizer["Choices"]</span>
        @if (Model.Options.Count == 0)
        {
            <p> @Localizer["No choices"]</p>
        }
        else
        {
            <table>
                <tr>
                    <th>
                        @Localizer["Choice"]
                    </th>
                    <th class="right">
                        @Localizer["Actions"]
                    </th>
                </tr>
                @foreach (var option in Model.Options)
                {
                    <tr>
                        <td>
                            @option.Option
                        </td>
                        <td class="right">
                            <a asp-controller="Event" asp-action="RemoveOption" asp-route-optionId="@option.Id" asp-route-eventId="@option.EventId"
                               class="btn waves-effect waves-light deep-orange accent-3 btn-small">
                                <i class="material-icons left">delete</i>@Localizer["Remove"]
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }

        <br />

        @{ await Html.RenderPartialAsync("_AddOptionPartial", new OptionModel
            {
                EventId = Model.EventModel.EventId,
                Option = string.Empty
            }); }

    </div>
</div>


    
        
    
