@using Votor.Areas.Portal.Controllers
@model EditEventModel

<div class="col s12 m6 l4">
    <div class="card @ViewBag.cardColor">
        <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
            <div class="card-title">
                @Localizer["New Question"]
            </div>
            @{
                await Html.RenderPartialAsync("_AddQuestionPartial", new QuestionModel
                {
                    EventId = Model.EventModel.EventId,
                    Question = string.Empty
                });
            }
        </div>
    </div>
</div>

@foreach (var question in Model.Questions)
{
    <div class="col s12 m6 l4">
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                <div class="card-title votor-card-title">
                    @question.Question
                </div>
                <a asp-controller="Event" asp-action="RemoveQuestion" asp-route-questionId="@question.Id" asp-route-eventId="@question.EventId" class="deep-orange-text votor-card-action">
                    <i class="material-icons left">delete</i>
                </a>
            </div>
        </div>
    </div>
}