@using Votor.Areas.Portal.Controllers
@model Votor.Areas.Portal.Controllers.EditEventModel


<div class="card @ViewBag.cardColor">
    <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
        <span class="card-title">@Localizer["Invites"]</span>

        @if (Model.Tokens.Count == 0)
        {
            <p> @Localizer["No invites"]</p>
        }
        else
        {
            <table>
                <tr>
                    <th>
                        @Localizer["Invite"]
                    </th>
                    <th>
                        @Localizer["Count"]
                    </th>
                    <th>
                        @Localizer["Weight"]
                    </th>
                    <th>
                        @Localizer["Restriction"]
                    </th>
                    <th class="right">
                        @Localizer["Actions"]
                    </th>
                </tr>

                @foreach (var token in Model.Tokens)
                {
                    <tr>
                        <td>
                            @token.Token
                        </td>
                        <td>
                            @token.Count
                        </td>
                        <td>
                            @token.Weight
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(token.Restriction))
                            {
                                @token.Restriction
                            }
                            else
                            {
                                @Localizer["No restriction"]
                            }
                        </td>
                        <td class="right">

                            <a asp-controller="Event" asp-action="RemoveToken" asp-route-token="@token.Token" asp-route-eventId="@token.EventId"
                               class="btn waves-effect waves-light deep-orange accent-3 btn-small">
                                <i class="material-icons left">delete</i>@Localizer["Remove"]
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }

         <br />

        @{ await Html.RenderPartialAsync("_AddTokenPartial", new TokenModel
            {
                EventId = Model.EventModel.EventId,
                Token = string.Empty,
                Count = 5,
                Weight = 1,
                Options = Model.Options
            }); }

    </div>
</div>

