@using Votor.Areas.Portal.Controllers
@model Votor.Areas.Portal.Controllers.EditEventModel

<div class="col s12 m6 l4">
    <div class="card @ViewBag.cardColor">
        <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
            <span class="card-title">
                @Localizer["New Invite"]
            </span>
            @{
                await Html.RenderPartialAsync("_AddTokenPartial", new TokenModel
                {
                    EventId = Model.EventModel.EventId,
                    Token = string.Empty,
                    Count = 5,
                    Weight = 1,
                    Options = Model.Options
                });
            }
        </div>
    </div>
</div>

@foreach (var token in Model.Tokens)
{
    <div class="col s12 m6 l4">
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                
                <div class="card-title">
                    @token.Count x @token.Token
                </div>
                <div class="black-text">
                    @if (token.RestrictionId.HasValue)
                    {
                        <p>
                            @($"{Localizer["Restriction"]}: {token.Restriction}")
                        </p>
                    }
                
                    <p>
                        @($"{Localizer["Weight"]}: {token.Weight}")
                    </p>
                </div>
                <a asp-controller="Event" asp-action="RemoveToken" asp-route-token="@token.Token" asp-route-eventId="@token.EventId"
                   class="deep-orange-text votor-card-action">
                    <i class="material-icons left">delete</i>
                </a>
            </div>
        </div>
    </div>

    @*<tr>
        <td>
            @token.Token
        </td>
        <td>
            @token.Count
        </td>
        <td>
            @token.Weight
        </td>
        <td>
            @if (!string.IsNullOrEmpty(token.Restriction))
            {
                @token.Restriction
            }
            else
            {
                @Localizer["No restriction"]
            }
        </td>
        <td class="right">

            <a asp-controller="Event" asp-action="RemoveToken" asp-route-token="@token.Token" asp-route-eventId="@token.EventId"
               class="btn waves-effect waves-light deep-orange accent-3 btn-small">
                <i class="material-icons left">delete</i>@Localizer["Remove"]
            </a>
        </td>
    </tr>*@
}

@*<th>
        @Localizer["Invite"]
    </th>
    <th>
        @Localizer["Count"]
    </th>
    <th>
        @Localizer["Weight"]
    </th>
    <th>
        @Localizer["Restriction"]
    </th>
    <th class="right">
        @Localizer["Actions"]
    </th>*@
