@using Microsoft.AspNetCore.Http
@model Votor.Areas.Portal.Controllers.EventDetailModel

@{
    ViewBag.Title = Localizer["Details"];
}

<div class="card @ViewBag.cardColor">
    <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
        <span class="card-title">@Model.Name</span>
        <div id="general">
            @Model.Description
        </div>
        <div id="tokens">
            @if (!string.IsNullOrEmpty(Model.PublicUrl))
            {
                <div class="input-field">
                    @Html.TextBoxFor(model => model.PublicUrl, new
                    {
                        @readonly = true
                    })

                    

                    <script>
                        function copyToClipboard() {
                            var elem = $("#PublicUrl");
                            if (elem) {
                                elem.select();
                                document.execCommand("copy");
                            }
                        }
                    </script>

                    
                </div>
            }

            <div class="card-internal-action card-action-overflow">
                <a class="btn waves-effect waves-light right  @ViewBag.MainColor" onclick="copyToClipboard();">
                 <i class="material-icons left">content_copy</i>@Localizer["Copy code"]
                </a>
                <a target="_blank" asp-controller="QrCode" asp-action="Index" asp-route-eventId="@Model.Id"
                   class="btn waves-effect waves-light button-seperator right @ViewBag.MainColor">
                    <i class="material-icons left">sync</i>
                    @Localizer["Generate QR-codes"]
                </a>
            </div>
        </div>
    </div>
    </div>

@if (Model.Tokens.Any())
{

<div class="card @ViewBag.cardColor">
    <div class="card-content @ViewBag.cardTextColor">
        <span class="card-title">@Localizer["Invites"]</span>
        <table>
            <tr>
                <th>
                    @Localizer["Name"]
                </th>
                <th>
                    @Localizer["Count"]
                </th>
                <th>
                    @Localizer["Weight"]
                </th>
                <th>
                    @Localizer["Restriction"]
                </th>
                <th>

                </th>
            </tr>
            @foreach (var token in Model.Tokens)
            {
                <tr>
                    <td>
                        @token.Name
                    </td>
                    <td>
                        @token.Count
                    </td>
                    <td>
                        @token.Weight
                    </td>
                    <td>
                        
                        @token.Restriction
                    </td>
                </tr>
            }
        </table>


    </div>
</div>

}