@model Controllers.VoteModel

@{
    ViewBag.Title = $"{Localizer["Vote"]} {"-"} {Model.EventName}";
}

<div class="card @ViewBag.cardColor">
    <div class="card-content @ViewBag.cardTextColor">
        <p>@Model.EventDescription</p>
        <p>@Model.Completed</p>
    </div>
    <div class="card-action">
        <div class="right">
            <input type="button" class="btn waves-effect waves-light"
                   value="@Localizer["Complete"]" onclick="completeVote();" />
        </div>
    </div>
</div>


@if (Model.Completed)
{
    @foreach (var item in Model.Choices)
    {
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                <table>
                    <tr>
                        <th>
                            @Localizer["Question"]
                        </th>
                        <th>
                            @Localizer["Option"]
                        </th>
                    </tr>


                    <tr>
                        <td>@item.Question</td>
                        <td>@item.Option</td>
                    </tr>

                </table>
            </div>

        </div>
    }
}
else
{
    using (Html.BeginForm("SaveVoting", "Vote", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.VoteId)
        @Html.HiddenFor(model => model.EventId)
        @Html.HiddenFor(model => model.Completed)

        @for (var i = 0; i < Model.Choices.Count; i++)
        {
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                <table>
                    <tr>
                        <th>
                            @Localizer["Question"]
                        </th>
                        <th>
                            @Localizer["Option"]
                        </th>
                    </tr>


                    <tr>
                        @Html.EditorFor(model => model.Choices[i])
                    </tr>

                </table>
            </div>
            <div class="card-action pull-right">
                <button type="submit" class="btn waves-effect waves-light pull-right">@Localizer["Save"]</button>
            </div>
        </div>
        }

                    

        <script>
            function completeVote() {
                $("#Completed").val("True");
                $("form").submit();
            }
        </script>
    }
}

