@model Votor.Areas.Voting.Controllers.ResultModel
@* include chart libarry *@
<script type="text/javascript" src="~/js/echarts.min.js"></script>
@{
    ViewBag.Title = Localizer["Results"];
}

<div class="card">
    <div class="card-content">
        <p class="card-title">@Model.EventName</p>
        <p>@Model.EventDescription</p>
        
        <hr/>

        <table>
            <tr>
                <th>
                    @Localizer["Category"]
                </th>
                <th>
                    @Localizer["Winner"]
                </th>
                <th>
                    @Localizer["Score"]
                </th>
            </tr>
            <tr>
                <td>
                    @Localizer["Overall"]
                </td>
                <td>
                    @{
                        var winners = Model.Overall.Score
                            .Where(x => Math.Abs(x.Value - Model.Overall.Score.Max(y => y.Value)) < 0.000001)
                            .ToList();
                    }
                    @string.Join(", ", winners.Select(x => x.Name))
                </td>
                <td>
                    @(winners.FirstOrDefault()?.Value ?? 0)
                </td>
            </tr>
            @foreach (var record in Model.Questions)
            {
                <tr>
                    <td>
                        @record.Title
                    </td>
                    <td>
                        @{
                            var questionWinner = record.Score
                                .Where(x => Math.Abs(x.Value - record.Score.Max(y => y.Value)) < 0.000001)
                                .ToList();
                        }
                        @string.Join(", ", questionWinner.Select(x => x.Name))
                    </td>
                    <td>
                        @(questionWinner.FirstOrDefault()?.Value ?? 0)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    window.votorCharts = [];

    window.addEventListener("resize",
        function () {
            for (var i = window.votorCharts.length; i-- > 0;) {
                votorCharts[i].resize();
            }
        });
</script>

@{ await Html.RenderPartialAsync("_PieChartPartial", Model.Distribution);}

@{ await Html.RenderPartialAsync("_PieChartPartial", Model.Score);}

@{ await Html.RenderPartialAsync("_QuestionChartPartial", Model.Overall);}

@foreach (var questionChartModel in Model.Questions)
{
    await Html.RenderPartialAsync("_QuestionChartPartial", questionChartModel);
}