@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<SharedResources> Localizer;

@if (SignInManager.IsSignedIn(User))
{
    <li>
        @{
            // TODO add event controller
        }
		<a asp-area="Portal" asp-controller="Dashboard" asp-action="Index" title="Events">
			<i class="material-icons">dashboard</i>@Localizer["Dashboard"]
		</a>
    </li>
    <li>
		<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Account Mangamenet">
			<i class="material-icons">person</i>@Localizer["Account"]
		</a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="logout-form-menu"></form>
        <a href="#" class="logout-button-menu">
            <i class="material-icons">keyboard_return</i> @Localizer["Logout"]
        </a>
    </li>

    <script type="text/javascript">
		document.addEventListener("DOMContentLoaded",
			function () {
				$(".logout-button-menu").on("click",
					function () {
						$(".logout-form-menu").submit();
					});
            });
        </script>
}
else
{
    <li>
		<a asp-area="Identity" asp-page="/Account/Register">
			<i class="material-icons">add_box</i>@Localizer["Register"]
		</a>
    </li>
    <li>
		<a asp-area="Identity" asp-page="/Account/Login">
			<i class="material-icons">arrow_forward</i>@Localizer["Login"]
		</a>
    </li>
}

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded",
		function () {
			$('.sidenav').sidenav();
		});
</script>