@using Microsoft.AspNetCore.Mvc.Localization
@model Votor.Areas.Portal.Controllers.QrCodeModel
@{
    Layout = "_LayoutQrCodes";
    ViewBag.Title = Localizer["QR-Codes"];

    @inject IHtmlLocalizer<SharedResources> HtmlLocalizer
}

@if (Model.PublicQrCode != null)
{
    for (var i = 9; i-- > 0;)
     {
         <div class="card">
             <div class="card-image">
                 <img src="@Model.PublicQrCode.QrCode" alt="" aria-hidden="True"/>
             </div>
             <div class="card-content">
                 <p class="invite-text">@HtmlLocalizer["Use this code to vote for <b>{0}</b>", Model.EventName]</p>
             </div>
         </div>
     }
}


@{
    var groups = Model.Tokens.GroupBy(x => x.Name);

    foreach (var group in groups)
    {
        

        var i = 0;
        foreach (var token in group)
        {
            if (i % 9 == 0)
            {
                <hr/>
                <div class="page-break"></div>
            }

            <div class="card">
                <div class="card-image">
                    <img src="@token.QrCode" alt="" aria-hidden="True" />

                </div>
                <div class="card-content">
                    <p class="invite-text">@HtmlLocalizer["Use this code to vote for <b>{0}</b>", $"{Model.EventName}"]</p>
                    <p><b>@token.Name</b></p>
                </div>
            </div>

            i++;
        }
    }
}
