@model Controllers.ChoiceModel

@Html.HiddenFor(model => model.Id)

<td>
    @Model.Question
</td>
<td>
    <div class="input-field">
        
        <select asp-for="@Model.OptionId" asp-items="@(new SelectList(Model.Options, "Id", "Option", @Model.OptionId))">
            <option>@Localizer["Select option"]</option>
        </select>
        
        @Html.LabelFor(model => model.Option)
    </div>
</td>
