@model Controllers.ChoiceModel

@Html.HiddenFor(model => model.Id)

<span class="card-title card-title-weight-400">
    @Model.Question
</span>

<div class="input-field">

    <select class="black-text" asp-for="@Model.OptionId" asp-items="@(new SelectList(Model.Options, "Id", "Option", @Model.OptionId))">
        <option>@Localizer["Select option"]</option>
    </select>

</div>

