@model Votor.Areas.Portal.Controllers.CloneEventModel

@using (Html.BeginForm("Clone", "Dashboard", FormMethod.Post))
{
    <div class="card @ViewBag.cardColor">
        <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
            <span class="card-title">@Localizer["Copy Event"]</span>

            <div class="input-field no-margin-bottom">
                <select asp-for="@Model.SelectedEvent" asp-items="@(new SelectList(Model.All, "Id", "Name"))"></select>

                @Html.ValidationMessageFor(model => model.SelectedEvent, "", new
                {
                    @class = "red-text text-darken-1"
                })
            </div>

            <div class="card-internal-action card-action-overflow">
                <button type="submit" class="btn waves-effect waves-light right @ViewBag.mainColor">@Localizer["Create"]</button>
            </div>
        </div>
    </div>
}