@model Votor.Areas.Portal.Controllers.CreateEventModel;

@Html.ValidationSummary(false, "", new { @class = "danger"})

@using (Html.BeginForm("CreateEvent", "Dashboard", FormMethod.Post)) {

    @Html.ValidationMessageFor(model => model.Name);
    @Html.LabelFor(model => model.Name);
    @Html.TextBoxFor(model => model.Name);
    
    <button type="submit">@Localizer["Create"]</button>                                
}