@model List<Votor.Areas.Portal.Controllers.DashboardEventModel>

@if (Model.Count == 0)
{
    <div class="col s12 m6 l4">
        <div class="card @ViewBag.cardColor">
            <div class="card-content @ViewBag.cardTextColor">
                <div class="card-title card-no-bottom-padding">
                    @Localizer["No Events"]
                </div>
            </div>
        </div>
    </div>
}

@foreach (var item in @Model)
{
    <div class="col s12 m6 l4">
        <div class="card card-no-bottom-padding @ViewBag.cardColor">
            <div class="card-content card-no-bottom-padding @ViewBag.cardTextColor">
                <div class="card-title">
                    @if (item.CanEdit)
                    {
                        <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Edit"]">
                            @item.Name
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Event" asp-action="Details" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Details"]">
                            @item.Name
                        </a>
                    }
                </div>
                
                @{
                    if (item.CanFinish || item.EndDate.HasValue)
                    {
                        await Html.RenderPartialAsync("_EventStatisticsPartial", item.Votes);
                    }
                    else
                    {
                        await Html.RenderPartialAsync("_InvitePieChartPartial", item.Tokens);
                    }
                }

                <div class="card-action-overflow padding-bottom-10">
                    @if (!item.CanEdit)
                    {

                        <a asp-controller="Event" asp-action="Details" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Details"]">
                            <i class="material-icons left">info_outline</i>
                        </a>
                    }
                    @if (item.CanEdit)
                    {
                        <a asp-controller="Event" asp-action="Edit" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Edit"]">
                            <i class="material-icons left">edit</i>
                        </a>
                    }

                    @if (item.CanActivate)
                    {
                        <a asp-controller="Dashboard" asp-action="ActivateEvent" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Activate"]">
                            <i class="material-icons left">power_settings_new</i>
                        </a>
                    }

                    @if (item.EndDate.HasValue)
                    {
                        <a asp-area="Voting" asp-controller="Vote" asp-action="Result" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Results"]" target="_blank">
                            <i class="material-icons left">insert_chart</i>
                        </a>

                        <a asp-controller="Dashboard" asp-action="ActivateEvent" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Activate"]">
                            <i class="material-icons left">fast_rewind</i>
                        </a>
                    }


                    @if (item.CanFinish)
                    {
                        <a asp-controller="Dashboard" asp-action="FinishEvent" asp-route-eventId="@item.Id"
                           class="@ViewBag.cardTextColor" title="@Localizer["Finish"]">
                            <i class="material-icons left">power_settings_new</i>
                        </a>

                        <!-- Modal reset event -->
                        <div id="resetModal-@item.Id" class="modal">
                            <div class="modal-content">
                                <span class="card-title">@Localizer["Reset {0}?", item.Name]</span>
                                <span class="card-content black-text">
                                    @Localizer["All votings will be deleted."]
                                </span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn-flat waves-effect waves-light modal-close white-text grey darken-2">
                                    <i class="material-icons left">keyboard_return</i>@Localizer["Cancel"]
                                </a>

                                <a asp-controller="Dashboard" asp-action="Reset" asp-route-eventId="@item.Id"
                                   class="btn-flat waves-effect waves-light deep-orange accent-3 white-text">
                                    <i class="material-icons left">fast_rewind</i>@Localizer["Reset"]
                                </a>
                            </div>
                        </div>

                        <a class="modal-trigger deep-orange-text accent-3" href="#resetModal-@item.Id"
                           title="@Localizer["Reset"]">
                            <i class="material-icons left">fast_rewind</i>
                        </a>
                    }

                    <!-- Modal Structure -->
                    <div id="deleteModal-@item.Id" class="modal">
                        <div class="modal-content">
                            <span class="card-title">@Localizer["Delete {0}?", item.Name]</span>
                        </div>
                        <div class="modal-footer">
                            <a class="btn-flat waves-effect waves-light modal-close white-text grey darken-2">
                                <i class="material-icons left">keyboard_return</i>@Localizer["Cancel"]
                            </a>

                            <a asp-controller="Event" asp-action="Delete" asp-route-eventId="@item.Id"
                               class="btn-flat waves-effect waves-light deep-orange accent-3 white-text">
                                <i class="material-icons left">delete_forever</i>@Localizer["Delete"]
                            </a>
                        </div>
                    </div>

                    <a class="deep-orange-text accent-3 modal-trigger" href="#deleteModal-@item.Id"
                       title="@Localizer["Delete"]">
                        <i class="material-icons left">delete</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}