@using Votor.Areas.Portal.Controllers
@model Controllers.EventListModel;

@{
    ViewBag.Title = Localizer["Dashboard"];
}

<h2>@Localizer["Dashboard"]</h2>


@{await Html.RenderPartialAsync("_CreateEventPartial", new CreateEventModel());}

<hr />

<p> @Localizer["Events"] (@Model.Events.Count)</p>

@{await Html.RenderPartialAsync("_ShowEventList", @Model.Events);}

<p> @Localizer["Active Events"] (@Model.Active.Count)</p>

@{await Html.RenderPartialAsync("_ShowEventList", @Model.Active);}

<p> @Localizer["Finished Events"] (@Model.Finished.Count)</p>

@{await Html.RenderPartialAsync("_ShowEventList", @Model.Finished);}